/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    font-size: 24px;
    color: #333;
}

p {
    font-size: 18px;
    color: #666;
}

.barber-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
}

.barber-profile {
    text-align: center;
    margin-bottom: 20px;
}

.barber-profile img.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.barber-profile h2 {
    font-size: 20px;
    color: #333;
}

.servicos,
.agendamento {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.servicos h2,
.agendamento h2 {
    font-size: 20px;
    color: #333;
    margin-bottom: 10px;
}

.servicos select,
.agendamento input[type="date"],
.agendamento input[type="time"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.agendamento .form-group {
    margin-bottom: 15px;
}

.agendamento label {
    font-size: 16px;
    color: #666;
    display: block;
    margin-bottom: 5px;
}

.agendamento button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius
